<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/mainStyle.css">
    <title>HEATMAP</title>
</head>
<body>

    <div id="options">
        <div class ="option">
            <h2>Heat Range</h4>
            <div>
                <span>Max</span>
                <input id="maxHeatRange"/>
                <span>Amps</span>
            </div>
            <div>
                <span>Min</span>
                <input id="minHeatRange"/>
                <span>Amps</span>
            </div>
        </div>
    </div>

    <div id="map">
    </div>
  
    <script src="/static/scripts/resources/jquery-3.3.1.js"></script>  
    <script src="/static/scripts/index.js"></script>    

</body>
</html>
